language: python
python:
  # We don't actually use the Travis Python, but this keeps it organized.
  #- "2.7"    # not tested anymore starting from 0.9.19
  - "3.6"
install:
  - sudo apt-get update
  # Install Anaconda 
  # We do this conditionally because it saves us some downloading if the
  # version is the same.
  - wget https://repo.continuum.io/miniconda/Miniconda3-latest-Linux-x86_64.sh -O miniconda.sh;
  - bash miniconda.sh -b -p $HOME/miniconda
  - export PATH="$HOME/miniconda/bin:$PATH"
  - hash -r
  - conda config --set always_yes yes --set changeps1 no
  - conda update -q conda
  # Useful for debugging any issues with conda
  - conda info -a

  # Update python version in environment 
  - sed -i -E 's/(python=)(.*)/\1'$TRAVIS_PYTHON_VERSION'/' ./environment.yml
  # Create conda environment
  - conda env create -n radis-env -f environment.yml
  # Activate and install test-only dependencies
  - source activate radis-env
  - pip install pytest-cov
  - python setup.py install

script:
  # Your test script goes here
  - echo ">>> Run tests"
  # use XVFB to have headless display port, and still run the Matplotlib tests.
  - xvfb-run pytest -m "not needs_config_file" --cov=./;
  
# safelist
branches:
  only:
  - master
  - develop
  
 
after_success:
  # codecoverage
  - pip install codecov;
  - codecov;