# Create a new environment from this file with :
#   conda create -n radis-env python=3.12 -y
#
# Or update an existing environment OTHER-ENV from this file with :
#   conda activate OTHER-ENV
#   conda env update --file environment.yml
#
# Dependencies in environment.yml and pyproject.toml should be kept consistent.
# This is tested automatically https://github.com/radis/radis/pull/734
name: radis-env
channels:
- conda-forge
- nodefaults  # no defaults packages (only conda-forge)
dependencies:
- python>=3.9
- astropy>=4.3.1  # Unit aware calculations
- astroquery>=0.4.6  # to fetch HITRAN databases
- beautifulsoup4>=4.10.0 # parse ExoMol website
- configparser
#- cython          # Not needed, see #647
- habanero>=1.2.0  # CrossRef API to retrieve data from doi
- h5py>=3.2.1   # load HDF5
- joblib  # for parallel loading of SpecDatabase
- lmfit  # for new fitting modules
- matplotlib
- numpy~=2.0  # Warning: numpy 2.0 is not compatible with vaex-hdf5<=0.14.1, see #869. We directly install the latest vaex-hdf5 via pip below as a workaround.
- numba  # just-in-time compiler
- pandas
- plotly>=2.5.1  # for line survey HTML output
- psutil # to get user RAM
- pytables # for pandas to HDF5 export
- scipy>=1.4.0
- seaborn   # other matplotlib themes
- termcolor  # terminal colors
- specutils  # spectroscopic data handling
- pip
- pip:
  - cryptography
  - getpass4
  - hitran-api     # HAPI, used to access TIPS partition functions
  - hjson          # Json with comments (for default_radis.json)
  - json-tricks>=3.15.0  # to deal with non jsonable formats
  - lxml           # parser used for ExoMol website
  - mpldatacursor
  - periodictable
  - peakutils
  - publib         # Plotting styles for Matplotlib.
  - python-dotenv
  - requests
  - ruamel.yaml
  - toml
  - tqdm
  - vaex-core; python_version < '3.13' #latest version 4.19 is not on conda-forge yet and install not compatible with python 3.13
  - git+https://github.com/vaexio/vaex.git#subdirectory=packages/vaex-hdf5; python_version < '3.13' #vaex-hdf5 latest version
  - vaex-viz; python_version < '3.13'
  - vulkan

