include README.rst
include LICENSE
include requirements.txt
include radis/__version__.txt
include radis/gpu/vulkan/shaders/*.comp
include radis/gpu/vulkan/shaders/*.spv
include radis/gpu/vulkan/bin/*.*
include radis/phys/units.txt
include radis/db/molparam.txt
include radis/db/molparams_extra.json
include radis/db/wav_index.json
include radis/default_radis.json
include radis/db/*.dat

# Include hardcoded informations for databases
recursive-include radis/db *.json
include radis/db/H2O/*.htm
include radis/db/*.txt #Kurucz and NIST

# Exclude test files and directories
global-exclude */test/*
global-exclude *test*.py

# Exclude documentation
global-exclude docs/*
global-exclude *.rst

# Exclude examples
global-exclude examples/*
