# Installed by "pip install -e .[dev]" as well as "conda env create --file environment.yml"
lxml           # parser used for ExoMol website
hjson          # Json with comments (for default_radis.json)
publib>=0.3.2  # Plotting styles for Matplotlib
hitran-api     # HAPI, used to access TIPS partition functions
peakutils
ruamel.yaml
json-tricks>=3.15.0  # to deal with non jsonable formats
mpldatacursor
nvidia-cufft-cu11
# tuna            # to generate visual/interactive performance profiles
