# This file is a copy of .github/workflows/python-package.yml but applies for the master branch only
# In a few words, we perform the same actions as the develop branch but with many more versions of Python

name: Python package

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  build:
    strategy:
      fail-fast: false
      max-parallel: 3
      matrix:
        include:
          - os: ubuntu-latest
            python-version: "3.9"
          - os: ubuntu-latest
            python-version: "3.10"
          - os: ubuntu-latest
            python-version: "3.11"
          - os: ubuntu-latest
            python-version: "3.12"
          #Issue with Windows and Mac OS, see https://github.com/radis/radis/issues/864
          - os: windows-latest
            python-version: "3.9"
          - os: windows-latest
            python-version: "3.10"
        #   - os: windows-latest
        #     python-version: "3.11"
        #   - os: windows-latest
        #     python-version: "3.12"
          - os: macos-latest
            python-version: "3.10"
    runs-on: ${{ matrix.os }}

    steps:
      - uses: actions/checkout@v4
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v3
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          python -m pip install pytest specutils
          pip install -e .
      - name: Fast tests with pytest
        env:
          HITRAN_EMAIL: ${{ secrets.HITRAN_EMAIL }}
          HITRAN_PASSWORD: ${{ secrets.HITRAN_PASSWORD }}
        run: |
          pytest -m "fast and not needs_db_CDSD_HITEMP_PCN and not needs_db_CDSD_HITEMP and not needs_db_CDSD_HITEMP_PC and not needs_gpu and not needs_specutils" --durations=10
      - name: Long tests with pytest
        env:
          HITRAN_EMAIL: ${{ secrets.HITRAN_EMAIL }}
          HITRAN_PASSWORD: ${{ secrets.HITRAN_PASSWORD }}
        run: |
          pytest -m "not fast and not needs_cuda and not download_large_databases and not needs_db_CDSD_HITEMP and not needs_db_CDSD_HITEMP_PCN and not needs_db_CDSD_HITEMP_PC and not needs_db_HITEMP_CO2_DUNHAM and not needs_db_HITEMP_CO_DUNHAM and not needs_gpu and not needs_specutils" --durations=10
